version: '3.8'
services:
  backend-service:
    build: .
    container_name: backend-service
    ports:
      - "8080:8080"
    environment:
      API_BASE_URL: http://python-service:8000
    networks:
      - app-network

networks:
  app-network:
    external: true