version: '3.8'
services:
  frontend-service:
    build: .
    container_name: frontend-service
    ports:
      - "3000:3000"
    networks:
      - app-network

networks:
  app-network:
    external: true